/* Universal Styles */

html {
    font-family: arial, sans-serif;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}



/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header h1 span {
    color: grey;
    font-weight: lighter;
}

.header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header ul li {
    color: black;
    font-weight: bold;
    padding-right: 16px;
}

/* Banner */

.banner-section {
    display: flex;
    background-color: #cccccc;
    padding: 32px 24px;
    width: 100%;
}

.banner-photo {
    width: 60%;
    padding-right: 24px;
}

.banner-photo img {
    width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    Justify-content: center;
    width: 40%;
    padding: 32px 0;
}

.banner-text h2 {
    color: #404040;
    font-size: 2.3rem;
    font-weight: bolder;
}

.banner-text h3 {
    color: #404040;
    font-size: 1.5rem;
}

.banner-text p {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #404040;
    padding: 8px 0;
}

/* Presentation */

.presentation {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    padding: 32px 24px;
}

.main-post {
    width: 60%;
    padding-right: 24px;
}

.main-post img {
    width: 100%;
}

.main-post h3 {
    color: #404040;
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 32px 24px 24px 0;
}

.main-post p {
    width: 75%; ;
}

.signature {
    color: #404040;
    font-size: 0.75rem;
    padding: 32px 0;
}

.side-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 16px 0 32px 0;
}

.side-info .box {
    display: flex;
    flex-direction: row;
    
}

.side-info img {
    height: 35%;
    width: 35%;
    padding: 16px 16px 16px 16px;
}

.side-info .preview {
    width: 65%;
}

#box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px 0 32px 0;
    background-color: lightgrey;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview .h4 {
    padding: 8px 0;
}

/* Courses Section */

.courses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    width: 100%;
    background-color: lightgrey;
}

.course-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 56px;
}

.course {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    max-width: 30%;
    margin: 16px;
}

.course-text {
    padding: 16px 16px 24px 16px;
}

